@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap");

#heroImg::after {
  position: absolute;
  content: "";
  background-image: url(../public/illustration-working.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: 60px;
  width: 130%;
  height: 100%;
}
