@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

#heroImg::after {
  position: absolute;
  content: "";
  background-image: url(../public/illustration-working.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 5%;
  width: 120%;
  height: 80%;
}

#stats::after {
  position: absolute;
  content: "";
  top: 10rem;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 10px;
  background-color: hsl(180, 66%, 49%);
  z-index: 1;
}

#boost::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-image: url(../public/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

#input_container::after {
  background-image: url(../public/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media only screen and (max-width: 768px) {
  #heroImg::after {
    top: 0;
    left: 0;
    height: 100%;
  }

  #stats::after {
    transform: rotate(90deg);
    width: 100%;
  }

  #boost::after {
    background-image: url(../public/bg-boost-mobile.svg);
  }
}
